/* @import url("fonts.css"); */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
@import url("reset.css");

body{
 font-family: "Montserrat", "Roboto", "Poppins", sans-serif;
  color: #FFFFFF;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* header */
header{
  padding: 20px 0px 20px 40px;
}

header li:not(:last-child){
margin-bottom: 10px;
}

header a{
  padding: 5px;
 text-decoration: underline;
 color: #ff0000;
 font-weight: 700;
 font-size: 20px;
 line-height:calc(25/20) ;
}


/* main */

.container {
  max-width: 1302px;
  margin: 0 auto;
  padding: 0 15px;
}

.phantom-indentation-dell{
  font-size: 0px;
}

.about-hydro-background-img{
  background: url("../img/line-top.svg") no-repeat 0px 54px / contain,
      url("../img/line-bottom.svg") no-repeat 0px 330px / contain;
}

/*about Hydra */

.hydra-contant-container{
  background-color: #302C42;
  padding: 100px 0;
}

.hydra-img {
  max-width: 524px;
  border-radius: 240px 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 108px;
}

.hydra-text-container {
display: inline-block;
max-width: 630px;
vertical-align: top;
padding-top: 50px;
}

.hydra-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 42px;
}

.hydra-title > span{
  font-weight: 300;
  color: rgba(255, 255, 255, 0.95);
  display: block;
  margin-top: 5px;
}

.hydra-text {
  margin-bottom: 28px;
  font-size: 16px;
}

.hydra-button {
  padding: 17px 47px 16px 39px;
  color: #343045;
  font-size: 12px;
  font-weight: 700;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

/* hydro contacts */

.contact-container {
  background-color: #302C42;
  padding-bottom: 100px;
}

.contact-list {
  padding: 25px 0px 25px 39px;
  font-size: 0;
  border-radius: 90px;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.contact-item {
  display: inline-block;
  vertical-align: middle;
}

.contact-link {
  font-size: 0px;
  padding: 23px 0px;
}

.contact-link-localization {
 padding-right: 42px; 
border-right: 1px solid rgba(192, 183, 232, 0.33);
}

.contact-link-phone {
  padding-left: 47px;
  padding-right: 66px;
  border-right: 1px solid rgba(192, 183, 232, 0.33);
}

.contact-link-phone > img{
  margin-right: 29px;
}

.contact-link-email{
  padding-left: 50px;
  padding-right: 50px;
}

.contact-link-email > img {
  margin-right: 23px;
}

.contact-text-container{
  display: inline-block;  
  vertical-align: top;
} 

.contact-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-text {
  font-size: 14px;
  font-weight: 400;
}

/* Ecobazar style */

.eco-shop-container {
background-color: #fff;
margin-top: 100px;
font-family: "Poppins", "Roboto", sans-serif;
font-size: 14px;
color: #808080;
padding-bottom: 80px;
}

.eco-shop-title{
  color: rgb(0, 175, 32);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 80px;
}

.eco-shop-text-container{
  max-width: 648px;
}

.text-descriptions {
  margin-bottom: 25px;
}

.text-desscriptions-margin-bottom{
  margin-bottom: 20px;
}

.description-list{
  margin-bottom: 20px;
}

.description-item{
min-height: 20px;
padding-left: 28px;
background: url("../img/check.svg") no-repeat 0px 0px / contain;
}

.description-item:not(:last-child) {
  margin-bottom: 14px;
}

.description-item-text {
  line-height: 1.4;
}

/* footer style */
footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: blue;
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
}

footer a {
  color: rgb(255, 0, 0);
  text-decoration: underline;
  font-weight: 700;
  font-style: oblique;
}